<div class="admin-nav">

    <div class="container d-flex justify-content-between">
        <div>
        </div>

        <div>
            <ul>
                <li>
                    <a class="text-white" asp-area="" asp-controller="Admin" asp-action="Index"> Användare |</a>
                </li>
                <li>
                    <a class="text-white" asp-area="" asp-controller="UserRoles" asp-action="Index"> Roller |</a>
                </li>
                <li>
                    <a class="text-white" asp-area="" asp-controller="SchoolClasses" asp-action="Index"> Klasser |</a>
                </li>
                <li>
                    <a class="text-white" asp-area="" asp-controller="SchoolCourses" asp-action="Index"> Kurser |</a>
                </li>
                <li>
                    <a class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index"> Inställningar</a>
                </li>
            </ul>
        </div>

    </div>
</div>
