<!--Footer-->
  <footer id="footer" class="footer">
    <div class="container text-center">

      <h3>Nyhetsbrev</h3>

      <form class="mc-trial row">
        <div class="form-group col-md-4 col-md-offset-2 col-sm-4">
          <div class=" controls">
            <input name="name" placeholder="Namn" class="form-control" type="text">
          </div>
        </div>
        <!-- End email input -->
        <div class="form-group col-md-4 col-sm-4">
          <div class=" controls">
            <input name="EMAIL" placeholder="E-postadress" class="form-control" type="email">
          </div>
        </div>
        <!-- End email input -->
        <div class="col-md-4 col-sm-4">
          <p>
            <button name="submit" type="submit" class="btn btn-block btn-submit">Skicka <i class="fa fa-arrow-right"></i></button>
          </p>
        </div>
      </form>
      <!-- End newsletter-form -->
      <ul class="social-links">
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
      </ul>
    </div>
  </footer>