@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div>
        <partial name="_AdminNavPartial" />
    </div>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow  border-bottom">
    <div class="container">
        <a class="logo nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Örebro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <partial name="_StudentNavPartial" />
                </div>

            }
            else
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Om Universitetet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Våra lärare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Om Örebro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Kontakta oss</a>
                    </li>
                </ul>

            }


            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>