@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/043e51ac62.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <title></title>
</head>
<body>

<div>
    <!--Banner-->
    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">Örebro Universitet</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Framtidens universitet idag</p>
                            <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium enim repellat sapiente quos architecto<br>Laudantium enim repellat sapiente quos architecto</p>
                            <a href="#footer" class="btn get-quote">Kontakta oss redan idag</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->

 <!--Features-->
  <section id="feature" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Funktioner</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
          <hr class="bottom-line">
        </div>
        
        <div class="feature-info">
          <div class="fea">
            <div>
              <div class="heading">
                <h4>Senaste teknologin</h4>
                <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
              </div>
              <div class="fea-img">
                <i class="fa fa-css3"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div>
              <div class="heading">
                <h4>De bästa lärarna</h4>
                <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
              </div>
              <div class="fea-img pull-left">
                <i class="fa fa-drupal"></i>
              </div>
            </div>
          </div>
          <div class="fea">
            <div>
              <div class="heading">
                <h4>Modern lärarplattform</h4>
                <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
              </div>
              <div class="fea-img">
                <i class="fa fa-trophy"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ feature-->

   <!--Organisations-->
  <section id="organisations" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div>
            <div class="orga-stru">
              <h3>85%</h3>
              <p>Stannar</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <div>
            <div class="orga-stru">
              <h3>15%</h3>
              <p>Flyttar hem</p>
              <i class="fa fa-male"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-info">
            <hgroup>
              <h3 class="det-txt"> Hur många studenter stannar kvar i Örebro efter examen?</h3>
              <h4 class="sm-txt">(Reviderat och uppdaterat för 2021 - SCB)</h4>
            </hgroup>
            <p class="det-p">Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Organisations-->


  <!--Student testominals-->
  <section id="university-member" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Möt några av våra elever</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
          <hr class="bottom-line">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div>
                <img src="~/images/student1.jpg" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Anna Andersson</p>
              <p class="pm-staff-profile-title">Studerar .NET Webbutvecklare</p>

              <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="~/images/student2.jpg" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Pelle Johansson</p>
              <p class="pm-staff-profile-title">Studerar läkarprogrammet</p>

              <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="pm-staff-profile-container">
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <img src="~/images/student3.jpg" alt="" class="img-thumbnail img-circle" />
              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Kalle Karlsson</p>
              <p class="pm-staff-profile-title">Studerar Socionomprogrammet</p>
              <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Student testominals -->

  <!-- University facts -->

<section id="services">

  <div class="container">

    <div id="university-title" class="title">
      <text>Fakta</span>
    </div>

    <div id="service-box-1" class="service-box">
      <i class="fas fa-user-graduate"></i>
      <p>1500 Studenter</p>
    </div>

    <div id="service-box-2" class="service-box">
      <i class="fas fa-user-nurse"></i>
      <p>470 doktorander</p>
    </div>

    <div id="service-box-3" class="service-box">
        <i class="fab fa-discourse"></i>
        <p>80 program</p>
    </div>

    <div id="service-box-4" class="service-box">
        <i class="fas fa-book"></i>
        <p>980 kurser</p>
    </div>

    <div id="service-box-5" class="service-box">
        <i class="fas fa-user-friends"></i>
        <p>1 600 anställda</p>
    </div>

    <div id="service-box-6" class="service-box">
        <i class="fas fa-chalkboard-teacher"></i>
        <p>880 lärare och forskare</p>
    </div>

    <div id="service-box-7" class="service-box">
        <i class="fas fa-user-edit"></i>
        <p>137 professorer</p>
    </div>

    <div id="service-box-8" class="service-box">
        <i class="fas fa-users-cog"></i>
        <p>400 inom admin & teknik</p>
    </div>

    <div id="service-box-9" class="service-box">
        <i class="fas fa-building"></i>
        <p>3 fakulteter</p>
    </div>
  </div>
</section>




  <!--/ University facts -->


</div>


    <script type="module" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>