@model UniversityPortal.Entities.SchoolClassStudent

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Lägg till</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StudentId" class="form-label">Elev</label>
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SchoolClassId" class="form-label">Klass</label>
                    <select asp-for="SchoolClassId" class="form-control" asp-items="ViewBag.SchoolClassId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lägg till" class="btn custombutton" />
                    <a class="btn custombutton" asp-action="Index">Tillbaka</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
