@model IEnumerable<ProductSite.Models.Product>

<div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="bg-dark"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="bg-dark"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2" class="active bg-dark"></li>
    </ol>
    <div class="carousel-inner">
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="white"></rect></svg>

              <div class="container">
                <div class="carousel-caption text-start text-dark">
                  <h1>MSI GeForce RTX 3080 GAMING X TRIO</h1>
                  <p>GeForce RTX 30-serien grafikkort The ultimate play GeForce RTX 30-serie GPU garanterar den ultimata prestandan för spelare och skapare. De drivs av Ampere – NVIDIAs andra generationens RTX-arkitektur – med nya RT-kärnor, Tensor-kärnor och strömmande multiprocessorer för den mest realistiska strålspårande grafiken och banbrytande AI-funktioner.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item active carousel-item-start">
              <svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="white"></rect></svg>

              <div class="container">
                <div class="carousel-caption text-dark">
                  <h1>Produkt 2</h1>
                  <p>Information om produkt 2</p>
                </div>
              </div>
            </div>
            <div class="carousel-item carousel-item-next carousel-item-start">
              <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="white"></rect></svg>

              <div class="container">
                <div class="carousel-caption text-end text-dark">
                  <h1>Produkt 3</h1>
                  <p>Information om produkt 3</p>
                </div>
              </div>
            </div>
          </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

