<footer class="bg-light text-lg-start footer">
    <!-- Grid container -->
    <div  id="footer" class="container p-4 pb-0">
        <form action="">

            <div class="row">
                <div class="col-auto mb-4 mb-md-0">
                    <p class="pt-2"><strong>Sign up for our newsletter</strong></p>
                </div>

                <div class="col-md-5 col-12 mb-4 mb-md-0">                    
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example2" class="form-control" />
                    </div>
                </div>

                <div class="col-auto mb-4 mb-md-0">
                    <button type="submit" class="btn btn-secondary mb-4">Subscribe</button>
                </div>
            </div>

        </form>
    </div>

    <div class="text-center p-3 text-light bg-dark">
        © 2020 Copyright:
        <a class="text-light bg-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

</footer>
